.century-title {
	text-align: center;
	margin-bottom: 60px;
}

.timeline-items-container {
	display: flex;
	width: 100%;
	flex-direction: column;
	position: relative;

	&::after {
		background-color: $accent;
		content: "";
		position: absolute;
		left: calc(50% - 2px);
		width: 4px;
		height: 100%;
	}
}

@media only screen and (max-width: 1023px) {
	.timeline-item-content {
		max-width: 100%;
	}
}

@media only screen and (max-width: 767px) {
	.timeline-item-content,
	.timeline-item:nth-child(odd) .timeline-item-content {
		padding: 15px 10px;
		text-align: center;
		align-items: center;
	}
}
