.century-title {
	text-align: center;
	margin-bottom: 60px;
}

.timeline-items-container {
	display: flex;
	width: 100%;
	flex-direction: column;
	position: relative;

	&::after {
		background-color: $accent;
		content: "";
		position: absolute;
		left: calc(50% - 2px);
		width: 4px;
		height: 100%;
	}
}

.no-events-found-container {
	gap: 30px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	p {
		text-align: center;
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
