.timeline-container {
	padding: 0px;
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	justify-content: flex-start;
	max-width: 5 0vw;

	& h2 {
		text-align: center;
		margin-bottom: 20px;
		font-weight: bold;
		font-size: 2.5rem;
		line-height: 2rem;
		text-transform: uppercase;
	}

	& .scroll-container {
		height: 80vh;
		overflow-y: scroll;
	}
}

.timeline-items-container {
	display: flex;
	flex-direction: column;
	position: relative;

	&::after {
		background-color: $secondary-color;
		content: "";
		position: absolute;
		left: calc(50% - 2px);
		width: 4px;
		height: 100%;
	}
}

@media only screen and (max-width: 1023px) {
	.timeline-item-content {
		max-width: 100%;
	}
}

@media only screen and (max-width: 767px) {
	.timeline-item-content,
	.timeline-item:nth-child(odd) .timeline-item-content {
		padding: 15px 10px;
		text-align: center;
		align-items: center;
	}
}
