@use "../utilities/variables" as *;


header {
	justify-content: center;
	align-items: center;
	display: flex;
	top: 0px;
	width: 100%;
	height: 50px;
	padding: 0px 20px;
	position: sticky;
	z-index: 1;
	background-color: $background2;
	& nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;
		max-width: 1000px;

		& .header-logo {
			height: 25px;
			width: 25px;
			opacity: 0.5;
			transition: transform 0.2s ease-in-out;
		}

		& .header-logo:hover {
			transform: rotate(-10deg);
		}

		& a {
			padding: 0px 20px;
			text-decoration: none;
			opacity: 0.8;
			display: flex;
			align-items: center;
		}

		& a:hover {
			text-decoration: underline;
		}

		& .github {
			margin-left: auto;
			height: 25px;
			width: 25px;
			opacity: 1;
			transition: transform 0s ease-in-out;
			padding: 0px !important;
		}

		& a:has(.github) {
			padding: 0px;
		}

		& .github:hover {
			transform: scale(1.1);
		}

		& .web-navigation {
			display: flex;
		}

		& .mobile-navigation {
			height: 25px;
			width: 25px;
			display: none;
		}

		@media screen and (max-width: 500px) {
			& {
				flex-direction: row-reverse;
			}

			.web-navigation {
				display: none;
			}

			.mobile-navigation {
				display: flex;
			}
		}
	}
}
