.open-modal {
	min-width: 500px;
	padding: 20px;
	padding-top: 40px;
}
.modal-title {
	font-size: 2rem;
}

.modal-text-wrapper {
	& h4 {
		font-size: 1.5rem;
		font-weight: 600;
		margin-bottom: 3px;
	}

	& p {
		font-size: 1.2rem;
		margin-bottom: 20px;
	}
}
