.select-century-container {
	& .tab-container {
		margin-bottom: 2px;
		border-bottom-color: $secondary-color;
	}

	& select {
		& option {
			background-color: $primary-bg-color;
			font-size: 1.5rem;
		}
	}
}
