.select-century-section {
	& select {
		margin-top: 20px;
		padding: 5px;
		width: 100%;
		border-radius: 5px;
		color: black;
		font-size: 1.5rem;
		height: 40px;

		& option {
			font-size: 1.5rem;
		}
	}
}
