.timeline-item {
	display: flex;
	justify-content: flex-end;
	padding-right: 30px;
	position: relative;
	margin: 10px 0;
	width: 50%;

	.timeline-item-content {
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		border-radius: 5px;
		background-color: $background2;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding: 15px;
		position: relative;
		max-width: 80%;
		text-align: right;

		& span {
			color: $accent;
			font-size: 2rem;
		}

		& .edit-button {
			opacity: 0.1;
			position: absolute;
			left: 10px;
			top: 10px;

			&:hover {
				cursor: pointer;
			}
		}

		& p {
			padding: 5px 0px;
			font-size: 1.5rem;
			line-height: 2rem;
		}

		& .circle {
			background-color: $background;
			border: 3px solid $accent;
			border-radius: 50%;
			position: absolute;
			top: calc(50% - 10px);
			right: -40px;
			width: 20px;
			height: 20px;
			z-index: 100;
		}

		/* This is the arrow that points towards the Card circle */
		&::after {
			content: " ";
			background-color: $background2;
			box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
			position: absolute;
			right: -7.5px;
			top: calc(50% - 7.5px);
			transform: rotate(45deg);
			width: 15px;
			height: 15px;
		}
	}

	// Changes on what side of the line the Card should be rendered
	&:nth-child(odd) {
		align-self: flex-end;
		justify-content: flex-start;
		padding-left: 30px;
		padding-right: 0;

		// Changes text alignment inside the Card
		& .timeline-item-content {
			text-align: left;
			align-items: flex-start;
			left: auto;
			right: 5px;

			& .edit-button {
				right: 10px;
				left: unset;
			}
		}

		// Changes on what side of the Card the circle is rendered
		& .timeline-item-content .circle {
			right: auto;
			left: -35px;
		}

		// Changes on what side of the Card the arrow is rendered
		& .timeline-item-content::after {
			right: auto;
			left: -7.5px;
			box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
		}
	}
}

@media only screen and (max-width: 1000px) {
	.timeline-item {
		width: 100%;
		z-index: 2;
		justify-content: center;
		padding-right: unset;

		& .timeline-item-content {
			text-align: center !important;
			align-items: flex-start;
			left: unset;
			right: unset;
			box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
			max-width: 100%;
			margin-bottom: 40px;

			& span,
			h4 {
				align-self: center;
			}

			& .edit-button {
				left: unset;
				right: 10px;
			}

			& p {
				text-align: left;
			}

			/* This is the arrow that points towards the Card circle */
			&::after {
				content: " ";
				background-color: $background2;
				box-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5) !important;
				top: unset;
				bottom: -7.5px;
				left: calc(50% - 7.5px) !important;
				transform: rotate(-45deg);
			}

			& .circle {
				all: unset;
				background-color: $background;
				border: 3px solid $accent;
				border-radius: 50%;
				position: absolute;
				left: calc(50% - 11px) !important;
				bottom: -38px;
				width: 15px;
				height: 15px;
				z-index: 100;
			}
		}

		&:nth-child(odd) {
			align-self: center;
			justify-content: center;
			padding-left: unset;
			padding-right: unset;

			// Changes text alignment inside the Card
			& .timeline-item-content {
				text-align: left;
				align-items: flex-start;
				left: auto;
				right: unset;
			}

			// Changes on what side of the Card the circle is rendered
			& .timeline-item-content .circle {
				right: unset;
				left: unset;
			}

			// Changes on what side of the Card the arrow is rendered
			& .timeline-item-content::after {
				right: unset;
				left: unset;
				box-shadow: unset;
			}
		}
	}
}
