.timeline-item {
	display: flex;
	justify-content: flex-end;
	padding-right: 30px;
	position: relative;
	margin: 10px 0;
	width: 50%;

	&:nth-child(odd) .timeline-item-content .circle {
		right: auto;
		left: -35px;
	}

	&:nth-child(odd) .timeline-item-content::after {
		right: auto;
		left: -7.5px;
		box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
	}

	&:nth-child(odd) {
		align-self: flex-end;
		justify-content: flex-start;
		padding-left: 30px;
		padding-right: 0;
	}

	&:nth-child(odd) .timeline-item-content {
		text-align: left;
		align-items: flex-start;
		left: auto;
		right: 5px;
	}

	.timeline-item-content {
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		border-radius: 5px;
		background-color: $alternative-bg-color;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding: 15px;
		position: relative;
		width: 400px;
		max-width: 70%;
		text-align: right;

		& h3 {
			font-size: 1.6rem;
			font-weight: 700;
		}

		& span {
			color: $secondary-color;
			font-weight: bold;
			margin-bottom: 10px;
			font-size: 2rem;
		}

		& p {
			padding: 5px 0px;
			font-size: 1.5rem;
		}

		& a {
			font-size: 1.2rem;
		}

		& .circle {
			background-color: $primary-bg-color;
			border: 3px solid $secondary-color;
			border-radius: 50%;
			position: absolute;
			top: calc(50% - 10px);
			right: -40px;
			width: 20px;
			height: 20px;
			z-index: 100;
		}

		/* This is the arrow that points towards the timeline circle */
		&::after {
			content: " ";
			background-color: $alternative-bg-color;
			box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
			position: absolute;
			right: -7.5px;
			top: calc(50% - 7.5px);
			transform: rotate(45deg);
			width: 15px;
			height: 15px;
		}
	}
}
