// primary colors
$primary: #6b3fa0;
$accent: #ef6c80;
$accent-hover: #903749;

// text colors
$text: #d8b4e2;
$text2: white;

// background colors
$background: #2b2e4a;
$background2: #262840;
$background3: #0f101a;
$input-background: #f7f0f9;

// others
$warning: #eb455f;
$disabled: gray;
