@use "./variables" as *;

h1 {
	font-size: 6rem;
	line-height: 6.5rem;
	font-size: $text;
	font-family: Poppins-ExtraBold;
}

h2 {
	font-size: 4rem;
	line-height: 4.2rem;
	font-family: Poppins-ExtraBold;
}

h3 {
	font-size: 3.5rem;
	line-height: 3.7rem;
	font-family: Poppins-Bold;
}

h4 {
	font-size: 3rem;
	line-height: 3.2rem;
	font-family: Poppins-SemiBold;
}

h5 {
	font-size: 2.5rem;
	line-height: 3.5rem;
	font-family: Poppins-SemiBold;
}

p {
	opacity: 0.9;
	font-size: 2.5rem;
	line-height: 3.5rem;
	font-family: Poppins-Regular;
	color: $text2;
}

a {
	font-family: Poppins-Regular;
	color: $text2;
	font-size: 1.6rem;
	line-height: 1.8rem;
}
