@font-face {
	font-family: Poppins-ExtraBold;
	src: url("../assets/fonts/Poppins/Poppins-ExtraBold.ttf");
}
@font-face {
	font-family: Poppins-Bold;
	src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
	font-family: Poppins-SemiBold;
	src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
	font-family: Poppins-Regular;
	src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

h1 {
	font-size: 6rem;
	line-height: 6.5rem;
	font-family: Poppins-ExtraBold;
}

h2 {
	font-size: 4rem;
	line-height: 4.2rem;
	font-family: Poppins-ExtraBold;
}

h3 {
	font-size: 3.5rem;
	line-height: 3.7rem;
	font-family: Poppins-Bold;
}

h4 {
	font-size: 3rem;
	line-height: 3.2rem;
	font-family: Poppins-SemiBold;
}

h5 {
	font-size: 2.5rem;
	line-height: 3.5rem;
	font-family: Poppins-SemiBold;
}

p {
	opacity: 0.6;
	font-size: 2.5rem;
	line-height: 3.5rem;
	font-family: Poppins-Regular;
}
