.form-container {
	border: 2px solid white;
	background-color: #263159;
	width: 100%;
	min-width: 350px;
	max-width: 800px;
	border-radius: 20px;
	padding: 50px;
	& h2 {
		margin: 20px;
		text-align: center;
	}

	& .new-event-form {
		display: flex;
		flex-flow: column nowrap;
		gap: 30px;
		padding: 20px;

		& .period-container {
			display: flex;
			flex-flow: column nowrap;
			flex-shrink: 1;
			gap: 30px;
			max-width: 340px;
		}

		& .input-container {
			justify-content: flex-start;
			display: flex;
			flex-flow: column nowrap;

			& label {
				font-size: 2rem;

				& span {
					font-size: inherit;
					color: $warning;
				}
			}

			& .input-field {
				font-size: 2rem;
				background-color: $input-background;
				height: 40px;
				border: unset;
				border-radius: 5px;
				padding: 10px;
				font-family: Poppins-Regular;
			}

			& textarea {
				background-color: $input-background;
				font-size: 2rem;
				border-radius: 5px;
				padding: 10px;
				font-family: Poppins-Regular;
			}

			& .error-message {
				font-size: 1.5rem;
				color: $accent;
				padding: 5px;
				min-height: 35px;
			}

			& .submit-status-message {
				font-size: 2rem;
				padding: 5px;
				min-height: 45px;
			}
		}
	}
}
