.admin-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: 20px;
	padding-bottom: 200px;

	& h1 {
		margin-bottom: 90px;
		text-decoration: underline;
	}

	& .form-container {
		border: 2px solid white;
		background-color: #263159;
		width: 100%;
		min-width: 350px;
		max-width: 800px;
		border-radius: 20px;
		padding: 50px;
		& h2 {
			margin: 20px;
			text-align: center;
		}

		& .new-event-form {
			display: flex;
			flex-flow: column nowrap;
			gap: 30px;
			padding: 20px;

			& label {
				font-size: 2rem;

				& span {
					font-size: inherit;
					color: $secondary-color;
				}
			}

			& input {
				font-size: 2rem;
				height: 40px;
			}

			& .increment {
				color: $primary-color;
			}

			textarea {
				font-size: 2rem;
			}

			& .error-message {
				font-size: 1.5rem;
			}

			& .submit-button {
				font-size: 2rem;
				width: 100%;
				padding: 20px;
			}
		}
	}
}
