section {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	padding: 20px;
	border: 5px solid red;

	& .welcome-info {
		display: flex;
		flex-flow: column nowrap;
	}

	& h1 {
		font-weight: bold;
		font-size: 2.5rem;
		line-height: 2rem;
		text-transform: uppercase;

		& span {
			font-weight: bold;
			font-size: inherit;
			color: #2b6cb0;
		}
	}

	& h2 {
		text-transform: uppercase;
		font-size: 1.5rem;
		margin-bottom: 10px;
		opacity: 0.9;
	}

	& .welcome-paragraph-wrapper {
		max-width: 400px;

		& p {
			font-size: 1.5rem;
			margin-bottom: 10px;
		}
	}
}
