@use "./utilities/fonts";
@use "./utilities/variables";
@use "./utilities/typography";
@use "./layouts/layout";
@use "./pages/admin";
@use "./components/header";
@use "./components/timelineItem";
@use "./components/contentView";
@use "./components/infoModal";
@use "./components/displayEvents";
@use "./components/welcomeInfo";
@use "./components/selectCentury";
@use "./components/basicTabs";
@use "./components/mobileMenu";
@use "./common/button";
@use "./common/spinner";
@use "./common/switch";
@use "./common/footer";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 10px;
}

@media only screen and (max-width: 700px) {
	* {
		font-size: 9px;
	}
}

@media only screen and (max-width: 500px) {
	* {
		font-size: 7.5px;
	}
}

:root {
	font-family: Poppins-Regular;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
