@import "./utilities/fonts";
@import "./utilities/variables";
@import "./utilities/typography";

@import "./common/contentView";
@import "./common/basicTabs";
@import "./common/button";
@import "./common/spinner";
@import "./common/switch";

@import "./components/footer";
@import "./components/layout";
@import "./components/header";
@import "./components/timelineItem";
@import "./components/storyForm";
@import "./components/displayStories";
@import "./components/welcomeInfo";
@import "./components/selectCentury";
@import "./components/mobileMenu";

@import "./pages/admin";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 10px;
}

@media only screen and (max-width: 700px) {
	* {
		font-size: 9px;
	}
}

@media only screen and (max-width: 500px) {
	* {
		font-size: 7.5px;
	}
}

:root {
	font-family: Poppins-Regular;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
