button {
	opacity: 0.9;
	font-family: Poppins-Medium;
	background-color: $primary;
	height: 60px;
	color: $text2;
	font-size: 2rem;
	padding: 15px 30px;
	margin: 10px 0px;
	border-radius: 7px;
	border: unset;
	display: flex;
	justify-content: center;

	&:hover {
		cursor: pointer;
		opacity: 1;
	}

	&.text {
		background-color: unset;
	}
}

button:is(.disabled) {
	opacity: unset;
	background-color: rgba(0, 0, 0, 0.5) !important;
}
