button {
	font-family: Poppins-Medium;
	background-color: $accent;
	height: 60px;
	color: $text2;
	font-size: 2rem;
	padding: 15px 30px;
	margin: 10px 0px;
	border-radius: 7px;
	border: unset;
	display: flex;
	justify-content: center;

	&:hover {
		cursor: pointer;
		background-color: $accent-hover;
	}
}

button:is(.disabled) {
	background-color: $disabled;
}
