.full-page-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	height: fit-content;
	padding: 50px 20px;
	min-height: calc(100vh - 50px);
	scroll-margin-top: 50px; // 50px is the header height, improves the scrollToElement() behavior.
}
