@use "../utilities/variables" as *;


.layout {
	// background-color: $background;
	color: $text;
	overflow-x: hidden;
	background-image: url("../assets/images/background.jpg");
	box-shadow: inset 0 0 0 2000px rgba(43, 46, 74, 0.9);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	& .background-icon {
		position: fixed;
		bottom: 0px;
		right: 100px;
		height: 50vh;
		width: 50vh;
		opacity: 0.03;
	}

	@media only screen and (max-width: 500px) {
		& .background-icon {
			right: unset;
			transform: translate(calc(50vw - 50%));
		}
	}
}

.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-in-out;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}
