* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

main {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	border: 1px solid orange;
	width: 100vw;
	height: 100vh;
	gap: 20px;
}

.header {
	text-decoration: underline;
}

.years_container {
	border: 1px solid red;
	padding: 20px;
}

.list_of_years {
	overflow-y: scroll;
	width: fit-content;
	padding: 20px 0px;
}

.stories_container {
	border: 1px solid green;
	flex-grow: 1;
	padding: 20px;
}

.list_of_stories {
}

.story {
	padding: 20px;
}

.year {
	width: 500px;
	text-align: center;
}

.selected {
	border: 1px solid lightgray;
}

.event_form {
	display: flex;
	flex-flow: column nowrap;
	border: 1px solid grey;
	margin: 20px 0px;
}

.input_wrapper {
	padding: 5px;
}

.input_wrapper,
input {
	margin-left: 10px;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
}
